body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Minion Pro, Times, serif;
}

h3, h5 {
    font-weight: lighter;
}

h5 {
    font-size: 16px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-right: 40px;
    padding-left: 40px;
}

.fixed-top {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

li {
    font-size: 15px;
}

.products {
    display: flex;
    flex-direction: column;
}

.heading {
    
    display: flex;
    justify-content: center;
}

.bird{
    max-width: 100px;
    margin-top: 80px;
    margin-bottom: 20px;
}

img {
    max-width: 300px;
}

.images {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.image {
    max-width: 300px;
}

.name {
    display: flex;
    justify-content: space-between;
}

.statement {
    display: flex;
    flex-direction: column;
    padding: 10% 30% 10% 30%;
}

.signed {
    display: flex;
    justify-content: right;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
  }

  button {
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 6px;
  }

  button:hover {
    background-color: aliceblue;
    color: black;
    transition: 1s;
  }